<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  						http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<!-- 1.读取并加载 spring 容器/文件 (监听器) 
	-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring/spring-*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 配置加载 APP_PATH 路径   -->
	<listener>
		<listener-class>com.young.atcrowdfunding.web.ServerStartupListener</listener-class>
	</listener>
	
	<!-- 1-1 字符编码过滤器
		只要请求被 SpringMVC 拦截，就过滤字符，
		但这只解决了 (Post)请求参数的编码，
		还有请求头参数(Get)，需要到 tomcat 的 server.xml :URIEncoding="UTF-8"
		<Connector URIEncoding="UTF-8" connectionTimeout="20000" port="801" protocol="HTTP/1.1" redirectPort="8443"/>
	 -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<servlet-name>springmvc</servlet-name>
	</filter-mapping>
	
	<!-- 3.配置 sprnigMVC	- servlet
		sprnigMVC 用于处理系统系统中数据的流转及控制操作
		（从哪里来，到哪里去）
	 -->
	 <servlet>
	 	<servlet-name>springmvc</servlet-name>
	 	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	 	<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/springmvc-context.xml</param-value>	 		
	 	</init-param>
	 	<!-- 启动项目：并加载 sprnigMVC，默认是用户第一次请求加载（慢） -->
	 	<load-on-startup>1</load-on-startup>
	 </servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	

	
	
</web-app>